body
{
    margin: 0%;
}
.content
{
    display: flex;
    flex-direction: column;
}
        .header
        {
            display: flex;
            flex-direction: row;
            background-color: rgb(138, 176, 101);
            font-family: Arial, Helvetica, sans-serif;
            color: #F9FAF8;
            justify-content: space-around;
        }
        ul
        {
            display: flex;
            list-style-type: none;
            gap: 24px;
            align-items: center;
        }
        a
        {
            text-decoration: none;
            color: #F9FAF8;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    .chunk-1
    {
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: rgb(138, 176, 101);
    }
        .chunk-1-picture
        {
            order: 2;
            display: flex;
            width: 100%;
            height: 100%;
        }

          button
          {
            background-color:rgb(101,138,176);
            color:#F9FAF8;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
            margin: 10%;
            border-radius: 8px;
          }
          h1
          {
            font-family: Arial, Helvetica, sans-serif;
            color:#F9FAF8;
            text-shadow: 2px 2px 2px #CECE;
          }
          .chunk-1-text
          {
            font-family: Arial, Helvetica, sans-serif;
            color:#F9FAF8;
          }
        .chunk-1-body
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            order: 1;

        }
    .chunk-2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #8AB065;
        background: -moz-linear-gradient(top, #8AB065 2%, #2388CB 69%, #B0658A 100%);
        background: -webkit-linear-gradient(top, #8AB065 2%, #2388CB 69%, #B0658A 100% );
        background: linear-gradient(top, #8AB065 2%, #2388CB 69%, #B0658A 100%);
    }
    h2
    {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
            color:#1F2937;
            text-shadow: 1px 1px 1px rgba(40, 44, 40, 0.933);

    }
    .chunk-2-pics
    {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #1F2937;
    }
    img
    {
        display: flex;
        border-radius: 8px;
        border: 4px #59616d solid ;
        width: 100%;
        height: 100%;
    }
    .text-under-chunk-2
    {
        display: flex;
    
    }
    .chunk-3
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgb(176, 101, 138);
        display: flex;
        color:#F9FAF8 ;
        font-family: Arial, Helvetica, sans-serif;
    }

    .chunk-4
    {
        display: flex;
        padding: 7%;
        background: #B0658A;
background: -moz-linear-gradient(top, #B0658A 0%, #8AB065 100%);
background: -webkit-linear-gradient(top, #B0658A 0%, #8AB065 100%);
background: linear-gradient(to bottom, #B0658A 0%, #8AB065 100%);
    }
    .sign-up-box
    {
        display: flex;
        align-items: center;
        background-color:rgb(138, 176, 101); 
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 8px;
        border:#59616d solid 3px;
    }
    .sign-up-text
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 2%;
        color: #F9FAF8;
    }
        .footer
        {
            display: flex;
            background-color: rgb(138, 176, 101);
            color:#F9FAF8;
            font-family: Arial, Helvetica, sans-serif;
            align-content: center;
        }
